/* ======================
        GLOBAL
====================== */

:root {
    --primary: #0b3051;
    --secondary: #277dd3;
    --bg-light: #f8fbff;
    --white: #fff;
    --text: #333;
    --text-muted: #d3b574;

    --accent-orange: #ffd3b6;
    --accent-pink: #ffaaa5;
    --accent-mint: #c1fba4;

    --transition: transform 0.3s ease-in-out;
}

body { margin: 0; padding: 0; font-family: 'Arial', sans-serif; }
.container { max-width: 1200px; width: 90%; margin: 0 auto; padding: 0; box-sizing: border-box;}


/* ======================
        NAVBAR
====================== */

.nav-header { background: var(--white); padding: 12px; box-shadow: 0 2px 10px rgba(0,0,0,0.08); }
.navbar { display: flex; align-items: center; } 

.nav-logo img { height: auto; width: 100px; } 

.menu-toggle { display: none; }

.nav-menu { display: flex; gap: 30px; list-style: none; font-size: 1.2rem; } 
.nav-link { text-decoration: none; color: var(--primary); font-weight: 600; position: relative; } 
.nav-link:hover { color: var(--text); } 
.nav-link.active { color: var(--text-muted); }

.nav-social { display: flex; gap: 30px; margin-left: auto; }
.social-icon { font-size: 1.8rem; color: var(--primary); transition: var(--transition);} 
.social-icon.wa:hover { color: #25D366; transform: scale(1.2);} 
.social-icon.fb:hover { color: #1877F2; transform: scale(1.2); } 
.social-icon.mail:hover { color: #EA4335; transform: scale(1.2); } 

/* ======================
       INDEX BANNER
====================== */

.index-banner { position: relative; height: 550px; width: 100%; display: flex; align-items: center; justify-content: center; overflow: hidden; }
.banner-image { position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; z-index: 1; }
.index-banner::after { content: ""; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.6); z-index: 2; }
.banner-container { position: relative; z-index: 3; text-align: center; }

.banner-title { font-size: 4rem; font-weight: 700; color: var(--white); text-shadow: 0 4px 10px rgba(0,0,0,0.5); text-align: center; margin-bottom: 5px;}
.banner-subtitle { font-size: 2rem; font-weight: 700; letter-spacing: 0.1rem; color: var(--bg-light); text-shadow: 0 2px 5px rgba(0,0,0,0.5); text-align: center; }

/* ======================
        INDEX INTRO
====================== */

.intro-container { max-width: 800px; margin: 0 auto; padding: 35px 10px; text-align: center; }
.intro-title { color: var(--primary); font-size: 2.2rem; margin: 0; }  
.intro-text { color: var(--text); font-size: 1.18rem; line-height: 1.5; }

/* ======================
    INDEX PROGRAMMES
====================== */

.index-programmes { background: var(--bg-light); padding: 30px 0 80px 0; text-align: center; }  

.programmes-title { color: var(--primary); font-size: 2.2rem; margin: 0; } 
.subtitle { margin-top: 0; margin-bottom: 50px; font-size: 1.2rem; color: var(--text); } 

.programmes-grid { display: flex; flex-direction: row; gap: 30px; max-width: 1200px; margin: 0 auto; position: relative; z-index: 1; justify-items: center;} 
.programme-card { background: var(--white); border-radius: 25px; padding: 35px 20px; width: 50%; box-shadow: 0 8px 25px rgba(0,0,0,0.05); transition: var(--transition); position: relative; display: flex; flex-direction: column; align-items: center; } 
.programme-card:hover { transform: translateY(-10px); }
.programme-card h2 { margin: 20px 0 10px 0; color: var(--text); font-size: 1.5rem; }
.card-icon { font-size: 2.2rem; font-style: italic; font-weight: 900; color: rgba(11, 48, 81, 0.1); position: absolute; top: 5px; right: 20px; }  

.btn-explore { text-decoration: none; color: var(--white); background: var(--primary); font-size: 0.8rem; font-weight: 500; border: 1px solid var(--primary); border-radius: 5px; padding: 6px 15px; letter-spacing: 0.1rem; } 
.btn-explore:hover { background: var(--white); border: 1px solid var(--primary);color: var(--primary); } 

/* ======================
    SUBJECT GALLERY
====================== */

.gallery-modal { display: none; position: fixed; z-index: 9999; inset: 0; background: rgba(0,0,0,0.85); backdrop-filter: blur(5px); padding: 20px; justify-content: center; align-items: center; }
.close-gallery { position: fixed; top: 30px; right: 50px; color: white; font-size: 40px; cursor: pointer; z-index: 10001; }
.modal-content { background: var(--white); width: 90%; max-width: 1000px; max-height: 80vh; padding: 30px; border-radius: 20px; overflow-y: auto; }

.gallery-images { display: grid; grid-template-columns: repeat(auto-fit, minmax(180px, 1fr)); gap: 15px; margin-top: 20px; }
.gallery-images img { width: 100%; cursor: pointer; }
.gallery-title { color: var(--primary); }
.full-screen-preview { position: fixed; inset: 0; background: rgba(0, 0, 0, 0.95); display: flex; justify-content: center; align-items: center; z-index: 10000; }
.full-img { max-width: 90%; max-height: 90%; object-fit: contain; }

.close-preview { position: absolute; top: 20px; right: 30px; color: var(--white); font-size: 30px; cursor: pointer; }

/* ======================
    INDEX TESTIMONY
====================== */

.index-testimony { 
    background: linear-gradient( 180deg, 
                var(--primary) 0%, 
                var(--primary) 40%, 
                #5d759a 70%, 
                var(--bg-light) 90%,
                var(--white) 100% ); 
    padding-top: 40px; padding-bottom: 120px;
    padding-left: 20px; padding-right: 20px;
    text-align: center;
} 

.testimony-title { margin-top: 0; margin-bottom: 30px; text-align: center; font-size: 2.2rem; color: var(--white); } 
.testimony-grid { display: grid; grid-template-columns: repeat(3, 1fr); gap: 30px; align-items: start;} 

.testimony-card { background: var(--white);  padding: 40px 30px; border-radius: 25px; box-shadow: 0 15px 35px rgba(0,0,0,0.2); transition: var(--transition); display: flex; flex-direction: column; height: 200px; overflow: hidden;} 

.testimony-header { display: flex; align-items: center; gap: 10px; border-bottom: 1px solid #eee; padding-bottom: 15px; flex-shrink: 0;} 

.testimony-header i { color: var(--primary); font-size: 1.2rem; } 
.parent-name { font-weight: 800; font-size: 1.2rem; color: var(--primary); margin: 0; } 

.testimony-text { text-align: justify; line-height: 1.6; color: var(--text); font-size: 0.9rem; flex-grow: 1; overflow-y: auto; padding-right: 10px;} 

/* ======================
    ABOUT CONTENT
====================== */

.about-intro {
    position: relative;
     ; 
    width: 100%;
    background: linear-gradient(
        to bottom, 
        rgba(11, 48, 81, 0.05) 0%,  
        var(--white) 100%
    );
}

.about-container { display: grid; grid-template-columns: 1fr 1.2fr; align-items: flex-start; width: 100%; }

.about-text { padding: 60px 40px 0 60px; }
.about-title { font-size: 2.5rem; color: var(--primary); margin-bottom: 30px; }
.about-description p { font-size: 1.1rem; line-height: 1.9; color: var(--text); margin-bottom: 20px; text-align: justify; }
.about-description p:last-child { font-weight: 700; color: var(--text-muted); margin-top: 30px; }

.about-image { width: 100%; margin: 0; padding: 0; }
.image-holder { width: 100%; height: 600px; clip-path: polygon(20% 0%, 100% 0%, 100% 100%, 0% 80%); }
.image-holder img { width: 100%; height: 100%; object-fit: cover; display: block; }

/* ======================
    ABOUT MISSION
====================== */

.mission-container { max-width: 1200px; margin: 0 auto; padding: 0 40px; }

.mission-title { font-size: 2.2rem; color: var(--primary); margin-bottom: 30px; text-align: center; }

.mission-grid { display: grid; grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); gap: 25px; }

.mission-card { background: var(--white); padding: 40px 25px; border-radius: 25px; box-shadow: 0 10px 30px rgba(0,0,0,0.05); transition: var(--transition); border-top: 6px solid transparent; }

.mission-icon { font-size: 2rem; height: 60px; width: 60px; background-color: rgba(0,0,0,0.05); display: flex; align-items: center; justify-content: center; border-radius: 50%; margin: 0 auto 20px auto; }

.mission-card:nth-child(1) { border-top-color: var(--secondary); }
.mission-card:nth-child(2) { border-top-color: var(--accent-pink); }
.mission-card:nth-child(3) { border-top-color: var(--accent-mint); }
.mission-card:nth-child(4) { border-top-color: var(--accent-orange); }

.mission-card:nth-child(1) .mission-icon { color: #005bd3; }
.mission-card:nth-child(2) .mission-icon { color: #ff6b76; }
.mission-card:nth-child(3) .mission-icon { color: #8ad66b; }
.mission-card:nth-child(4) .mission-icon { color: #f2a679; }

.mission-card:hover { transform: translateY(-8px); box-shadow: 0 15px 40px rgba(0,0,0,0.1); }
.mission-card h3 { font-size: 1.18rem; color: var(--text); margin-bottom: 15px; font-weight: 800; text-align: center; }

.mission-text { font-size: 0.95rem; line-height: 1.5; color: var(--text); text-align: justify; }

/* ======================
    ABOUT VISION
====================== */

.about-vision { padding: 100px 0 80px; }

.vision-container { max-width: 1200px; margin: 0 auto; padding: 0 40px; display: grid; grid-template-columns: 4.5fr 5.5fr; gap: 80px; align-items: center; }

.vision-content { padding-top: 20px; }

.vision-image-holder { width: 100%; aspect-ratio: 1 / 1; overflow: hidden; border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%; box-shadow: 0 20px 50px rgba(11, 48, 81, 0.1); }
.vision-image { width: 100%; height: 100%; object-fit: cover; display: block; }

.vision-title { font-size: 2.2rem; color: var(--primary); margin-bottom: 25px; }
.vision-text { font-size: 1.1rem; line-height: 1.7; color: var(--text); font-style: italic; }

/* ======================
    ABOUT VISION
====================== */

.why-us-container { max-width: 1000px; margin: 0 auto; padding: 0 40px 100px; text-align: center; }

.why-us-title { font-size: 2.2rem; color: var(--primary); margin-bottom: 15px; }
.why-us-text { font-size: 1.1rem; line-height: 1.7; color: var(--text); margin: 0 auto 40px; }

.feature-grid { display: grid; grid-template-columns: repeat(2, 1fr); gap: 30px; justify-content: center; max-width: 450px; margin: 0 auto;}
.feature-card { aspect-ratio: 1/1; background-color: var(--bg-light); border: 1px solid var(--primary); border-radius: 15px; display: flex; flex-direction: column; justify-content: center; align-items: center; padding: 20px; box-sizing: border-box; }

.feature-icon i { font-size: 2.5rem; color: var(--primary); margin-bottom: 10px; }
.feature-card h3 { font-size: 1.2rem; margin-bottom: 8px; color: var(--text); }
.feature-card p { font-size: 0.9rem; color: var(--text); margin: 0; }

/* ======================
        CA BANNER
====================== */

.ca-banner { position: relative; height: 550px; width: 100%; display: flex; align-items: center; justify-content: center; overflow: hidden; }
.programmes-image { position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; z-index: 1; }
.ca-banner::after { content: ""; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.6); z-index: 2; }
.ca-banner-container { position: relative; z-index: 3; text-align: center; }

.ca-banner-title { font-weight: 700; color: var(--white); text-shadow: 0 4px 10px rgba(0,0,0,0.5); text-align: center;}

/* ======================
      ICE SYSTEM
====================== */

.ca-system { padding: 60px 0 0; }

.system-container { display: flex; align-items: center; justify-content: center; gap: 40px; max-width: 1200px; margin: 0 auto; padding: 0 20px; }

.system-image-content { flex: 1; display: flex; justify-content: center; }
.system-image { width: 80%; max-width: 500px; height: auto; }

.system-info { flex: 1.2; }
.system-title { font-size: 2.2rem; color: var(--primary); margin-bottom: 20px; }
.intro-paragraph { font-size: 1.1rem; line-height: 1.5; color: var(--text); margin-bottom: 30px; }

.ca-cards-container { display: flex; flex-direction: column; gap: 20px; margin-bottom: 30px; }
.ca-mini-card { display: flex; align-items: flex-start; gap: 15px; padding: 15px 20px; border-radius: 12px; position: relative; overflow: hidden; transition: var(--transition); }
.card-head { display: flex; align-items: center; gap: 12px; margin-bottom: 5px; }
.card-head h4 { margin: 0; font-size: 1.1rem; font-weight: 800; }
.dot { width: 8px; height: 8px; border-radius: 50%; flex-shrink: 0; }
.ca-mini-card p { margin: 0; font-size: 0.95rem; color: var(--text); padding-left: 22px; }

.iq-image,.cq-image,.eq-image { width: 45px; height: 45px; object-fit: cover; border-radius: 50%; flex-shrink: 0; display: block; margin-top: 5px; filter: drop-shadow(0 0 5px rgba(231, 230, 229, 0.9)); }
.card-content { flex: 1;}

.border-iq { background-color: rgba(123, 44, 191, 0.05); border: 1px solid rgba(123, 44, 191, 0.2); }
.border-cq { background-color: rgba(247, 162, 1, 0.05); border: 1px solid rgba(247, 162, 1, 0.3); } 
.border-eq { background-color: rgba(51, 79, 202, 0.05); border: 1px solid rgba(23, 43, 133, 0.1);} 
.iq-bg { background-color: #7b2cbf; }
.cq-bg { background-color: #f7a201; }
.eq-bg { background-color: #172b85; }

.final-intro { font-size: 1rem; font-weight: 600; padding-top: 15px; text-align: center; border-top: 1px solid #eee; }
.border-iq .card-head h4,.final-intro .text-purple { color: #7b2cbf; }
.border-eq .card-head h4,.final-intro .text-blue { color: #172b85; }
.border-cq .card-head h4,.final-intro .text-yellow { color: #f7a201; }

/* ======================
      CA SECTION
====================== */

.ca-section { padding: 40px 0; }

.ca-grid { display: flex; gap: 50px; justify-content: center; max-width: 900px; margin: 0 auto; }

.ca-header { text-align: center; margin-bottom: 30px; }
.ca-main-title { margin-top: 10px; font-size: 2.2rem; color: var(--primary);}

.ca-card { flex: 0 1 400px; background: var(--white); border-radius: 15px; overflow: hidden; box-shadow: 0 10px 30px rgba(0,0,0,0.05); border: 1px solid #eee; }
.card-banner { background: var(--primary); color: var(--white); padding: 15px; text-align: center; font-weight: 700; font-size: 1.18rem; }
.subjects-grid,.extra-list-grid { display: flex; flex-wrap: wrap; padding: 10px; justify-content: center; }
.sub-icon { flex: 0 0 33.33%; display: flex; flex-direction: column; align-items: center; padding: 15px 0; gap: 8px; }
.extra-item { flex: 0 0 25%; display: flex; flex-direction: column; align-items: center; padding: 15px 0; gap: 8px; }

.sub-icon i, .extra-item i { font-size: 1.5rem; color: var(--primary); }
.sub-icon span, .extra-item span { font-size: 0.9rem; font-weight: 600; color: var(--text); }

/* ======================
        CA PHOTOS
====================== */

.ca-photos-section { padding: 40px 0; overflow: hidden; }

.ca-photos-header { text-align: center; margin-bottom: 30px; }
.ca-photos-title { font-size: 2.2rem; color: var(--primary); margin: 0; }

.ca-photos-container { width: 100%; overflow-x: auto; overflow-y: hidden; scroll-snap-type: x mandatory; -webkit-overflow-scrolling: touch; scrollbar-width: none; -ms-overflow-style: none; }
.ca-photos-container::-webkit-scrollbar { display: none; }
.photos-grid { display: flex; padding: 0; width: max-content; }

.ca-photo { margin: 0; padding: 0; flex: 0 0 350px; width: 350px; height: 290px; overflow: hidden; box-shadow: 0 5px 15px rgba(0,0,0,0.06); scroll-snap-align: start; }
.ca-photo img { width: 100%; height: 100%; object-fit: cover; filter: brightness(0.7) grayscale(0.3); display: block; }

/* ======================
        FOOTER
====================== */

.site-footer { color: var(--primary); } 

.footer-container { max-width: 1000px; margin: 0 auto; padding: 60px 20px; display: grid; grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); gap: 40px 180px; } 
.footer-section.brand { display: flex; flex-direction: column; align-items: center; text-align: center;}

.footer-logo { width: 170px; filter: drop-shadow(0 2px 4px rgba(0,0,0,0.05)); } 
.slogan { margin-top: 15px; font-size: 1.1rem; font-weight: 600; } 

.footer-title { font-size: 1.3rem; font-weight: 700; margin-bottom: 20px; } 

.footer-section.contact { display: flex; flex-direction: column;}
.contact-list { list-style: none; padding: 0; margin: 0; display: flex; flex-direction: column; gap: 5px; } 
.contact-list li { display: flex; align-items: flex-start; gap: 12px; font-size: 1.2rem; line-height: 1.5rem; } 

.footer-bottom { background-color: var(--primary); color: var(--white); text-align: center; padding: 5px 0; font-size: 1.0rem; } 

/* ======================
    FLOATING BUTTON 
====================== */

.floating-container { position: fixed; bottom: 30px; right: 30px; flex-direction: column-reverse; align-items: center; z-index: 9999; }

.float-btn { width: 45px; height: 45px; border-radius: 50%; display: flex; align-items: center; justify-content: center; color: var(--white); text-decoration: none; box-shadow: 2px 2px 10px rgba(0,0,0,0.2); transition: var(--transition); }
.float-btn:hover { transform: scale(1.1); z-index: 1001; }
.float-btn i { font-size: 1.5rem; }

.whatsapp { background-color: #25D366; }
.email { background-color: #EA4335; }
.facebook { background-color: #1877F2; }
.toggle-trigger { background-color: var(--text); }

/* ======================
    MOBILE RESPONSIVE
====================== */

@media (min-width: 769px) {
  .mobile-only,.float-items { display: none; } 
  .desktop-only { display: flex; } 
}

@media screen and (max-width: 768px) { 
    .container { width: 95%; padding: 0 15px; }

    /* Navbar */
    .nav-header { position: relative; }
    .navbar { display: flex; justify-content: space-between; align-items: center; padding: 0 10px; }
    .nav-logo img { width: 80px; }
    .menu-toggle { display: block; cursor: pointer; font-size: 1.3rem; }
    .nav-menu { display: block; list-style: none; position: absolute; top: 50px; left: 0; background: var(--white); width: 100%; margin: 0; padding: 0; max-height: 0; opacity: 0; transition: max-height 0.1s ease-out, opacity 0.1s ease-out; z-index: 1000; }
    .nav-menu.active { max-height: 500px; opacity: 1; padding-top: 10px; padding-bottom: 10px; }
    .nav-menu li { width: 100%; text-align: left; position: relative; font-size: 1.0rem; }
    .nav-menu .nav-link { display: block; padding: 8px 20px; font-size: 1.1rem; color: var(--primary); text-decoration: none; }
    .nav-link.active { color: var(--text-muted); }
    .nav-social { display: none; }

    /* Index Banner */
    .index-banner { height: 180px; background-attachment: scroll;}
    .banner-title { font-size: 1.3rem; }
    .banner-subtitle { font-size: 0.8rem; }

    /* Index Intro */
    .intro-container { padding: 20px 15px; }
    .intro-title { font-size: 1.3rem; }
    .intro-text { font-size: 0.8rem; text-align: justify;}
    
    /* Index Programmes */
    .index-programmes { padding: 40px 0; }
    .programmes-grid { display: grid; grid-template-columns: repeat(3, 1fr); gap: 15px 20px; padding: 0 15px; justify-items: center;}
    .programme-card { width: 100%; min-width: unset; margin-bottom: 0; padding: 8px 5px; display: flex; flex-direction: column; align-items: center; justify-content: center; border-radius: 8px; position: relative; }
    .programme-card h2 { font-size: 0.8rem; margin: 20px 0 5px; }
    .card-icon { font-size: 1rem; position: absolute; top: 5px; right: 10px; }
    .programmes-title { font-size: 1.3rem; }
    .subtitle { font-size: 0.8rem; margin-bottom: 5px; padding: 0 20px; }
    .btn-explore { font-size: 0.65rem; padding: 3px 5px; }
    
    /* Subject Gallery */
    .gallery-modal { padding: 15px; }
    .close-gallery { top: 5px; right: 20px; }
    .modal-content { border-radius: 5px; margin-top: 80px; }

    /* Index Testimony */
    .index-testimony { padding: 20px 0 60px 0; }
    .testimony-title { font-size: 1.3rem; margin: 10px; }
    .testimony-grid { display: flex; overflow-x: auto; -webkit-overflow-scrolling: touch; gap: 20px; padding: 10px; scrollbar-width: none; scroll-snap-type: x mandatory; }
    .testimony-grid::-webkit-scrollbar { display: none; }
    .testimony-card { flex: 0 0 85%; padding: 10px 10px; box-shadow: 0 10px 25px rgba(0,0,0,0.1); scroll-snap-align: center; border-radius: 5px;}
    .testimony-grid::after { content: ''; flex: 0 0 1px; }
    .testimony-header i { font-size: 1rem; }
    .parent-name { font-size: 1rem; }
    .testimony-text { font-size: 0.8rem; line-height: 1.2rem; }

    /* About Intro */
    .about-container { grid-template-columns: 1fr; align-items: center; }
    .about-text { padding: 5px 25px; order: 2; }
    .about-title { font-size: 1.3rem;  margin-bottom: 10px; text-align: center; }
    .about-description p { font-size: 0.8rem; line-height: 1.3; margin: 0 0 12px 0; }
    .about-description p:last-child { font-weight: normal; margin: 0; }
    .about-image { order: 1; }
    .image-holder { height: 180px; clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 90%); }

    /* Mission */
    .mission-container { padding: 30px 30px; }
    .mission-grid { grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); gap: 15px; }
    .mission-card { padding: 10px 25px; border-radius: 15px; }
    .mission-title { font-size: 1.3rem; margin-bottom: 15px;}
    .mission-icon { height: 40px; width: 40px; font-size: 1.3rem; margin-bottom: 5px; }
    .mission-card h3 { font-size: 0.9rem; margin-bottom: 5px; }
    .mission-text { font-size: 0.8rem; line-height: 1.3; text-align: justify; }

    /* Vision */
    .about-vision { padding: 50px 0; width: 100%; }
    .vision-container { grid-template-columns: 100%; gap: 20px; padding: 0 45px; }
    .vision-image-holder { width: 65%; margin: 0 auto; }
    .vision-header { text-align: center; }
    .vision-title { font-size: 1.3rem; margin: 10px 0 0 0; }
    .vision-text { font-size: 0.8rem; line-height: 1.5; }

    /*Why-Us*/
    .why-us-container { width:100%; padding: 0 50px 60px; box-sizing: border-box; }
    .why-us-title { font-size: 1.3rem; margin-bottom: 15px; }
    .why-us-text { font-size: 0.8rem; margin: 10px 0 20px 0; }
    .feature-grid { gap: 12px; max-width: 100%; width: 100%; margin: 0 auto; }
    .feature-card { width: 100%; box-sizing: border-box; aspect-ratio: 1 / 1; padding: 10px; }
    .feature-icon i { font-size: 1.3rem; margin-bottom: 10px;}
    .feature-card h3 { font-size: 0.9rem; margin: 0 auto 10px; }
    .feature-card p { font-size: 0.8rem; }
    
    /* CA Banner */
    .ca-banner { height: 180px; background-attachment: scroll; }
    .ca-banner-title { font-size: 1.25rem; }

    /* ICE System */
    .ca-system { padding: 40px 0 0; }
    .system-container { display: block; width: 100%; padding: 0 20px; box-sizing: border-box; }
    .system-image-content { display: block; width: 100%; }
    .system-image { display: block; width: 50%; margin: 0 auto 10px; max-width: 100%; }
    .system-info { width: 100%; margin: 0; order: 2; }
    .system-title { font-size: 1.3rem; text-align: center; margin-bottom: 15px; }
    .intro-paragraph { font-size: 0.9rem; line-height: 1.6; text-align: justify; margin-bottom: 25px; }
    .ca-cards-container { gap: 10px; margin-bottom: 20px; }
    .ca-mini-card { width: 100%; box-sizing: border-box; }
    .card-head h4 { font-size: 0.9rem; }
    .ca-mini-card p { font-size: 0.8rem; line-height: 1.4; }
    .final-intro { font-size: 0.9rem; text-align: center; padding-top: 10px; }

    /* CA Section */
    .ca-section { padding: 30px 0;}
    .ca-grid { flex-direction: column; gap: 15px; }
    .ca-card { flex:none; width: 100%; height: 40%;}
    .ca-header { margin-bottom: 10px; }
    .ca-main-title { font-size: 1.3rem; }
    .card-banner { font-size: 0.9rem; padding: 5px; letter-spacing: 0.1rem;}
    .sub-icon i,.extra-item i { font-size: 1.1rem; }
    .sub-icon span, .extra-item span { font-size: 0.75rem }

    /* CA PHOTOS */
    .ca-photos-section { padding: 30px 0; }
    .ca-photos-header { margin-bottom: 10px; }
    .ca-photos-title { font-size: 1.3rem; }
    .ca-photo { flex: 0 0 80vw; width: 80vw; height: 220px; }

    /* Footer */
    .footer-container { padding: 40px 20px; gap: 40px; } 
    .footer-logo { margin: 0 auto; width: 100px; }
    .slogan { font-size: 0.9rem; margin-top: 5px; }
    .footer-title { font-size: 1rem; margin-bottom: 10px; }
    .footer-section.contact { padding: 0; display: flex; flex-direction: column; align-items: center; }
    .contact-list { display: inline-block; text-align: left; margin: 0 auto; padding: 0 40px;}
    .contact-list li { display: flex; align-items: flex-start;  gap: 12px; font-size: 0.9rem; line-height: 1.4; } 
    .footer-bottom { font-size: 0.8rem; }
    
    /* Floating Button */
    .desktop-only { display: none; }
    .mobile-only { display: flex; }
    .float-items { display: flex; flex-direction: column-reverse; gap: 5px; opacity: 0; visibility: hidden; transform: translateY(15px) scale(0); transition: all 0.3s ease; transform-origin: bottom; margin-bottom: 10px; }
    #float-toggle:checked ~ .float-items { opacity: 1; visibility: visible; transform: translateY(0) scale(1); }
    #float-toggle:checked ~ .toggle-trigger { background-color: var(--text-muted); }
}